footer {
    .container-fluid {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    a {
        color: $footer-link-color;

        &:hover {
            color: $footer-link-color-hover;
        }
    }

    .links {
        font-size: 0;

        li {
            margin-left: 24px;
            font-size: 15px;
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .social-links {
        @extend .links;

        text-align: right;

        li {
            font-size: 18px;
        }
    }

    &::before {
        content: '';
        width: calc(100% - 30px);
        height: 1px;
        margin-left: 15px;
        border-top: 1px solid $footer-divider-color;
        display: block;
    }

    @media (max-width: 767px) {
        [class*='col-sm'] {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .links, .social-links {
            text-align: center;
        }
    }
}