nav {
    .navbar-brand {
        display: flex;
        align-items: center;

        .description {
            margin-left: 12px;
            color: #111;
            display: flex;
            flex-direction: column;

            span {
                &:first-child {
                    font-size: 15px;
                    font-weight: 700;
                }

                &:last-child {
                    font-size: 13px;
                }
            }
        }
    }

    .navbar-toggler {
        &:focus {
            box-shadow: 0 0 0 0.05rem;

        }
    }

    .navbar-buttons-container {
        .navbar-buttons {
            .btn-outline-success {
                margin-left: 12px;
            }
        }
    }

    @media (max-width: 991px) {
        .navbar-nav, .dropdown-item {
            text-align: center;
        }

        .navbar-buttons-container {
            .navbar-search {
                margin-bottom: 8px;
            }

            .navbar-buttons {
                justify-content: center;

                .btn-outline-success {
                    margin-left: 0;
                }
            }
        }
    }
}